@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/image/download.png" class="img-thumbnail" alt="Cinque Terre" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mua dien may - Den quyet tien</h2>
    </div>
</div>